
:root {
    --background-color-light: rgba(230, 230, 230, 1);
    --background-color-dark: rgba(38, 38, 38, 1);
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
    /* --border-color: rgba(77, 77, 77, 1); */
    --button-color-light: #4CAF50;
    --button-color-dark: #8BC34A;
    --bg-input-dark: linear-gradient(135deg, rgba(60, 60, 60, 1), rgba(68, 68, 68, 1), rgba(51, 51, 51, 1));
    --bg-input-light: linear-gradient(135deg, rgba(200, 200, 200, 1), rgba(220, 220, 220, 1), rgba(240, 240, 240, 1));
    --color-btn-sh-dark: rgba(0, 0, 0, 1) 
    --color-btn-sh-light: rgba(255, 255, 255, 1)
}   
  

button {
    background-color: var(--button-color);
}

.inventoryCont, .modalCont, .ghostCartCont, .ghostRowCont, .tableCont {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
}

input{
    background: var(--bg-input);
}

.switchBtn{
    padding: 8px 15px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: var(--color-btn-sh);
}


/* Светлая тема */
.light-theme {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --border-color: var(--border-color-light);
    --button-color: var(--button-color-light);
}

/* Темная тема */
.dark-theme {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --border-color: var(--border-color-dark);
    --button-color: var(--button-color-dark);
}
  